body {
	overflow-x: hidden;
    background-image: url(Assets/bgbody.jpeg);
    height: 100%;
    width: 100%;
    color: #fff;
}

.banner {
	text-align: center;
	background-image: url(Assets/q.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
    width: 100%;
	color: #fff;
}

.logo {
	margin-top: 155px;
	width: 130px;
	animation-name: fadeInDown;
}

.bi-chevron-double-down{
	color: #fff;
	cursor: pointer;
}
#heading1{
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 30px;
}

.nav-item {
	font-size: 18px;
	text-transform: uppercase;
	padding-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	font-weight: 500;
	
}

.box-fasilitas {
	width: 100%;
	text-align: center;
	border-radius: 9px;
    color: #fff
}
.box-fasilitas img {
	width: 100px;
    color: #fff
}

.galery img {
	width: 100%;
    color: #fff
}
.galery img:hover {
	transition: 0.3s;
	transform: scale(1.03);
}
.orange {
	color: #FF6E04;
}

.foto img {
	width: 380px;
}
.foto {
	position: absolute;
	top: 20px;
	right: 100px;

}

/* CSS Footer - OPEN*/
footer {
    background: #15477A;
    color: #fff;
    padding: 50px 0;
}

footer .brand {
    display: flex;
}

footer .brand img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    margin-bottom: 10px;
    
}
footer .brand h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    text-transform: uppercase;
}

footer .tentang {
    font-style: 14px;
    line-height: 26px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}


footer .sosmed {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .sosmed li {
    display: inline-block;
    margin-right: 20px;;
}

footer .sosmed li a {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 45px;
}
footer .sosmed li a:hover {
    color : yellow;
}

.footer-col h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-col .alamat {
    font-size: 14px;
    line-height: 25px;
    padding: 10px 0;
}

.footer-col .footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-col .footer-nav li {
    margin : 10px 0;
}

.footer-col .footer-nav li a {
    color: #fff;
    font-size: 15px;
    font-weight: 28px;
    transition: all 0.5;
}

.footer-col .footer-nav li a:hover {
    border-bottom: 1px dashed #fff;
}
/* CSS Footer - CLOSE*/
.table-bordered{
    color: #fff;
}

.form-text .text-muted{
    color: white;
}